.proyectos{
    position: fixed;
    top: -5vh;
    z-index: 3;
    width: 95%;
    height: 100vh;
    max-height: 100%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: #f0f0f0;
    overflow: auto;
    background-image: url(../fondodiv.png);
    background-repeat: no-repeat;
    background-size: cover;
    animation: proyectosFadeOut 1s ease-in-out forwards;
}

.proyectos__contenedor{

    display: flex;
    flex-direction: row;
    padding: 0px 100px 0px 100px; 
    /*border: 2px solid black;*/
}


.proyectos_mostrar{
    animation: proyectosFadeIn 1s ease-in-out forwards;
}



@keyframes proyectosFadeOut{
    0% {
        opacity: 1;
        transform: translateX(-10%);
    }
    100% {
        opacity: 0;
        transform: translateX(-80%);
        display: none;
    }
}



@keyframes proyectosFadeIn{
    0% {
        opacity: 0;
        transform: translateX(-30%);
    }
    100% {
        opacity: 1;
        transform: translateX(-10%);
    }
}



@keyframes proyectosFadeOutMovil{
    0% {
        opacity: 1;
        transform: translateX(0%);
    }
    100% {
        opacity: 0;
        transform: translateX(-80%);
        display: none;
    }
}



@keyframes proyectosFadeInMovil{
    0% {
        opacity: 0;
        transform: translateX(0%);
    }
    100% {
        opacity: 1;
        transform: translateX(-10%);
    }
}



@media (max-width: 768px) {

    .proyectos_mostrar{
        animation: proyectosFadeInMovil 1s ease-in-out forwards;
    }


    .proyectos__contenedor{
        display: flex;
        flex-direction: column;
        width: 600px;
    }

    .proyectos{
        width: 100%;
    }
}