.proyectos{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 70vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: #f0f0f0;
    animation: proyectosFadeOut 1s ease-in-out forwards;
    z-index: 1;
    background-image:url(../fondodiv.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.proyectos__contenedor{

    display: flex;
    flex-direction: row;
    width: 900px;
    /*border: 2px solid black;*/
}


.proyectos_mostrar{
    animation: proyectosFadeIn 1s ease-in-out forwards;
 
}


@keyframes proyectosFadeOut{
    0% {
        opacity: 1;
        transform: translateX(0%);
    }
    100% {
        opacity: 0;
        transform: translateX(-80%);
        display: none;
    }
}



@keyframes proyectosFadeIn{
    0% {
        opacity: 0;
        transform: translateX(-30%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}



@keyframes proyectosFadeOutMovil{
    0% {
        opacity: 1;
        transform: translateX(0%);
    }
    100% {
        opacity: 0;
        transform: translateX(-80%);
        display: none;
    }
}



@keyframes proyectosFadeInMovil{
    0% {
        opacity: 0;
        transform: translateX(-10%);
    }
    100% {
        opacity: 1;
        transform: translateX(-30%);
    }
}



@media (max-width: 768px) {

    .proyectos_mostrar{
        animation: programadorFadeInMovil 1s ease-in-out forwards;
    }

    .proyectos{
        /*animation: programadorFadeOutMovil 1s ease-in-out forwards;*/
    }
}