.seguridadWeb{
    max-width: 100%;
    width: 100%;
    height: 80vh;
    position: absolute;
    transition: transform 0.10s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: #f0f0f0;
    transform: translateX(-200%);
    z-index: 1;
    background-image:url(../fondodiv.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.seguridadWeb_mostrar{
    transition: transform 0.10s;
    transform: translateX(-80%);
}




@media (max-width: 768px) {

    .seguridadWeb_mostrar{
        transition: transform 0.10s;
        transform: translateX(-30%);
    }
}


@media (min-width: 800px) {

    .seguridadWeb_mostrar{
        transition: transform 0.10s;
        transform: translateX(-80%);
    }
}