.seguridadWeb {
    position: fixed;
    top: -5vh;
    z-index: 3;
    width: 100%;
    height: 100vh;
    max-height: 100%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: #f0f0f0;
    overflow: auto;
    background-image: url(../fondodiv.png);
    background-repeat: no-repeat;
    background-size: cover;
    animation: seguridadFadeOut 1s ease-in-out forwards;
}



.seguridadWeb_mostrar {
    animation: seguridadFadeIn 1s ease-in-out forwards;

}



@media (max-width: 768px) {

    .seguridadWeb_mostrar{
        animation: seguridadFadeInMovil 1s ease-in-out forwards;
    }

 
}


@keyframes seguridadFadeOut {
    0% {
        opacity: 1;
        transform: translateX(-80%);
    }

    100% {
        opacity: 0;
        transform: translateX(-0%);
        display: none;
    }
}

@keyframes seguridadFadeIn {
    0% {
        opacity: 0;
        transform: translateX(-0%);
    }

    100% {
        opacity: 1;
        transform: translateX(-77%);
    }
}




@keyframes seguridadFadeOutMovil {
    0% {
        opacity: 1;
        transform: translateX(-80%);
    }

    100% {
        opacity: 0;
        transform: translateX(0%);
        display: none;
    }
}

@keyframes seguridadFadeInMovil {
    0% {
        opacity: 0;
        transform: translateX(-0%);
    }

    100% {
        opacity: 1;
        transform: translateX(-25%);
    }
}