
.programador{
    position: fixed;
    top: -5vh;
    z-index: 3;
    width: 95%;
    height: 100vh;
    max-height: 100%;
    background-color: #f0f0f0;
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: #f0f0f0;
    overflow: auto;
    background-image: url(../fondodiv.png);
    background-repeat: no-repeat;
    background-size: cover;
    animation: programadorFadeOut 1s ease-in-out forwards;
}


.programador_mostrar{
    animation: programadorFadeIn 1s ease-in-out forwards;
}

.programador__contenedor{
    padding: 80px;

    scroll-behavior:unset;
}


@media (max-width: 768px) {

    .programador_mostrar{
        animation: programadorFadeInMovil 1s ease-in-out forwards;
        max-height: 100%;
        padding-top: 80vh;
        
    }

}








@keyframes programadorFadeOut{
    0% {
        opacity: 1;
        transform: translateX(-10%);
        position:absolute;
    }
    100% {
        opacity: 0;
        transform: translateX(-80%);
        display: none;
        position:absolute;
    }
}



@keyframes programadorFadeIn{
    0% {
        opacity: 0;
        transform: translateX(-30%);
        position:absolute;
    }
    100% {
        opacity: 1;
        transform: translateX(-10%);
        position:absolute;
        
    }
}


@keyframes programadorFadeOutMovil{
    0% {
        opacity: 1;
        transform: translateX(0%);
    }
    100% {
        opacity: 0;
        transform: translateX(-80%);
        display: none;
    }
}

@keyframes programadorFadeInMovil{
    0% {
        opacity: 0;
        transform: translateX(-20%);
    }
    100% {
        opacity: 1;
        transform: translateX(-10%);
    }
}
