.content__body__principal{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    width: 100%;
    color:black;
    margin-top: 15vh;
}


.content__img{
   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 60%;
    border-radius: 80%;
    opacity: 0;
    transition: opacity 4s ease-in-out;
    -webkit-border-radius:50%;
    box-shadow: rgb(0,0,0,0.5) 0px 0px 33px;
    position: fixed;
    animation: fadeIn 1s ease-in-out forwards;
}



.content__center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__img.visible{
    opacity: 1;
}


.content__programador, .content__proyectos{
    font-size: 2.5rem;
    white-space: nowrap; /* Evita el salto de línea */
    overflow: hidden; /* Oculta el texto que no se muestra */
    border-right: 2px solid transparent; 
    animation: escribirIzquierdaDerecha 4s steps(40);
    text-shadow: 2px 2px 4px #000;

   
}

.content__proyectos{
    padding-top: 80%;
}


.content__pentesting{
    padding-top: 70%;
}
.content__seguridad, .content__pentesting{
    
    font-size: 2.5rem;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid transparent;
    animation: escribirIzquierdaDerecha 4s steps(40);
    text-shadow: 2px 2px 4px #000;
    
}





@keyframes escribirIzquierdaDerecha {
    0% {
        width: 0;
        color:brown;
    }
    100% {
        width: 100%;
        color: black;
    }
}


@keyframes escribirDerechaIzquierda{
    0% {
        width: -100;
        color:brown;
    }
    100% {
        width: 0%;
        color: black;
    }
}





@media (max-width: 768px) {
  

    .content__proyectos, .content__seguridad, .content__pentesting, .content__programador{
        font-size: 3.2rem;
        font-weight: 600;
        white-space: nowrap;
        overflow: hidden;
        border-right: 2px solid transparent;
        padding-top: 5%;
        padding-bottom: 20%; 
        margin-right: 0%;
        white-space: nowrap;
        width: 100%;
        max-width: 100%;
    }

    .content__body__principal{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        max-width: 100%;
        width: 100%;
        color:black;
        margin-top: 15vh;
    }
       

    .content__img{
   
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: 40%;
        border-radius: 80%;
        opacity: 0;
        transition: opacity 2s ease-in-out;
        position: fixed;
     
        animation: fadeIn 1s ease-in-out forwards;
    }
    
    .content__img.visible{
        opacity: 1;
    }
        /* Ajustar el tamaño de fuente para dispositivos más pequeños */


}